In [5]:
import pandas as pd
import matplotlib.pyplot as plt
from config import pw
%matplotlib inline

from sqlalchemy import create_engine
engine = create_engine(f'postgresql://postgres:{pw}@localhost:5432/employees')
connection = engine.connect()

ModuleNotFoundError: No module named 'config'

In [6]:
employees = pd.read_sql('select * from employees', connection, parse_dates=['birth_date', 'hire_date'])

NameError: name 'connection' is not defined

In [7]:
employees.head()

NameError: name 'employees' is not defined

In [8]:
departments = pd.read_sql('select * from departments', connection)

NameError: name 'connection' is not defined

In [9]:
 departments.head()

NameError: name 'departments' is not defined

In [10]:
salaries = pd.read_sql('select * from salaries', connection, parse_dates=['from_date', 'to_date'])

NameError: name 'connection' is not defined

In [11]:
salaries.head()

NameError: name 'salaries' is not defined

In [12]:
dept_manager = pd.read_sql('select * from dept_manager', connection, parse_dates=['from_date', 'to_date'])

NameError: name 'connection' is not defined

In [13]:
dept_manager.head()

NameError: name 'dept_manager' is not defined

In [14]:
dept_manager.to_date = dept_manager['to_date'].fillna(pd.to_datetime('2050-12-31'))

NameError: name 'dept_manager' is not defined

In [15]:
dept_manager.head()

NameError: name 'dept_manager' is not defined

In [16]:
titles = pd.read_sql('select * from titles', connection, parse_dates=['from_date', 'to_date'])

NameError: name 'connection' is not defined

In [17]:
titles.head()

NameError: name 'titles' is not defined

In [18]:
titles.to_date = titles['to_date'].fillna(pd.to_datetime('2050-12-31'))

NameError: name 'titles' is not defined

In [19]:
titles.head()

NameError: name 'titles' is not defined

In [20]:
titles.title.value_counts()

NameError: name 'titles' is not defined

In [21]:
Engineer              115003
Staff                 107391
Senior Engineer        97750
Senior Staff           92853
Technique Leader       15159
Assistant Engineer     15128
Manager                   24
Name: title, dtype: int64

SyntaxError: invalid syntax (<ipython-input-21-ae8f99620a37>, line 1)

In [22]:
employee_salaries = titles.merge(salaries, on='emp_no')

NameError: name 'titles' is not defined

In [23]:
employee_salaries.head()

NameError: name 'employee_salaries' is not defined

In [24]:
employee_salaries_df = employee_salaries[['emp_no', 'title', 'salary']]

NameError: name 'employee_salaries' is not defined

In [25]:
employee_salaries_df.head()

NameError: name 'employee_salaries_df' is not defined

In [26]:
employee_salaries_df.groupby('title')['salary'].mean().round(2)

NameError: name 'employee_salaries_df' is not defined

In [27]:
title
Assistant Engineer    48493.20
Engineer              48539.78
Manager               51531.04
Senior Engineer       48506.75
Senior Staff          58503.29
Staff                 58465.27
Technique Leader      48580.51
Name: salary, dtype: float64

SyntaxError: invalid syntax (<ipython-input-27-e2a253623854>, line 2)

In [28]:
employee_salaries_df.hist(column='salary')

NameError: name 'employee_salaries_df' is not defined

In [29]:
array([[<matplotlib.axes._subplots.AxesSubplot object at 0x11c2f9c18>]],
      dtype=object)

SyntaxError: invalid syntax (<ipython-input-29-46e032122931>, line 1)

In [30]:
employees_grouped_by_title = employee_salaries_df.groupby(['title'])['salary'].mean()

employees_grouped_by_title.plot.bar()

NameError: name 'employee_salaries_df' is not defined

In [31]:
<matplotlib.axes._subplots.AxesSubplot at 0x11781a780>

SyntaxError: invalid syntax (<ipython-input-31-6ef744d70c44>, line 1)